body.account {
  &.account-settings .account-settings,
  &.account-password .account-password,
  &.account-delete .account-delete {
    @extend .active;
  }
  .subnav-container {
    margin-top: 20px;
    @extend .d-sm-flex;
    .settings-nav {
      @extend .nav;
      @extend .flex-column;
      @extend .nav-pills;
      a {
        @extend .nav-link;
      }
    }
    section {
        // margin-left: 20px;
        form {
            margin-top: 20px;
            width: 100%;
            button {
                @extend .btn;
                @extend .btn-primary;
            }
        }
    }
  }
  @media (min-width: 576px) {  // @include media-breakpoint-up(xs) { ... } seems to be ignored
      .subnav-container {
          section {
              margin-left: 20px;
              form {
                  margin-top: 0;
                  width: 400px;
              }
          }
      }
  }
}

body.account-delete {
  .subnav-container {
      section {
          form {
              button {
                  @extend .btn-danger;
              }
          }
      }
  }
}

body.account {
  &.account-login,
  &.account-logout,
  &.account-signup,
  &.account-password-reset,
  &.account-email-confirmation {
      main {
          >div {
              @extend .d-flex;
              @extend .justify-content-center;
              form {
                  margin-top: 0px;
                  width: 100%;
                  legend {}
                  button {
                      @extend .btn;
                      @extend .btn-primary;
                  }
                  a.forgot-password {
                      display: block;
                      margin: 5px 0;
                      font-size: 90%;
                  }
                  p.login-signup {
                      margin-top: 15px;
                      background-color: $gray-100;
                      padding: 10px 15px;
                      border-radius: 5px;
                      border: 1px solid $gray-200;
                      color: $gray-700;
                      text-align: center;
                  }
                  .has-error {
                      .help-block {
                          color: $red;
                      }
                  }
                  p.help-text {
                      margin-top: 35px;
                      font-size: 80%;
                  }
              }
              @media (min-width: 576px) {  // @include media-breakpoint-up(xs) { ... } seems to be ignored
                  form {
                      margin-top: 100px;
                      width: 300px;
                  }
              }
          }
      }
  }
}
