[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pinax-templates = "*"
django-webpack-loader = "*"
django-user-accounts = "*"
pinax-eventlog = "*"
pinax-webanalytics = "*"
social-auth-app-django = "*"
nodeenv = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
