[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
pinax-templates = "*"
django-webpack-loader = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
