[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
pinax-templates = "*"
django-webpack-loader = "*"
pinax-waitinglist = "==2.0.3"
pinax-webanalytics = "==4.0.2"
nodeenv = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
