django-user-accounts==2.0.0
pinax-wiki==0.2.2
Pillow==2.9.0
easy-thumbnails==2.2
pinax-teams==0.12.1
django-reversion==1.10.2
pinax-webanalytics==2.0.4
pinax-eventlog==1.1.2

Django==1.10.2
pinax-theme-bootstrap==7.11.0
