{% extends "site_base.html" %}

{% load i18n %}
{% load teams_tags %}

{% block head_title %}pinax-project-team-wiki{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <h1>Teams / Wiki Demo</h1>

    <p class="lead">
        A demo of the <b>team-wiki</b> Pinax project with per-user and per-team wiki.
    </p>

    {% if ACCOUNT_OPEN_SIGNUP %}
        <div>
            <a class="btn btn-default" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
            or
            <a class="btn btn-default" href="{% url 'account_login' %}">{% trans "Log in" %}</a>
        </div>
    {% endif %}

{% endblock %}
