{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_events_tags %}
{% load pinax_news_tags %}

{% block head_title %}pinax-project-company{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br>pinax-project-company{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                This project lays the foundation for all other Pinax starter projects.
                It provides the project directory layout on which the other starter
                projects are based.
                {% endblocktrans %}
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}What is Pinax?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Pinax</b> is an open-source platform based on Django and
                intended to provide a starting point for websites. It takes
                care of the things that many sites have in common, so you can
                focus on what makes your site different.
                {% endblocktrans %}
            </p>
            <div class="feature-columns row">
                <div class="col">
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Starter projects</b> provide project layout,
                    scaffolding, already integrated components and
                    ready-to-go code.
                    {% endblocktrans %}
                </div>
                <div class="col">
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Reusable apps</b> provide common
                    infrastructure, back-end functionality,
                    and user-facing components.
                    {% endblocktrans %}
                </div>
                <div class="col">
                    <i class="fa fa-tint fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Themes</b> provide default templates and
                    stylesheets for quick prototyping and easy customization.
                    {% endblocktrans %}
                </div>
            </div>
            <div class="news-events-columns">
                <div>
                    <h3>News</h3>
                    {% news as news_list %}
                    {% for news_item in news_list %}
                        <article class="news-article">
                            <h3>
                                <a href="{{ news_item.url }}">
                                    {% if news_item.image %}<img src="{{ news_item.image.url }}" /><br />{% endif %}
                                    <span>{{ news_item.title }}</span>
                                </a>
                            </h3>
                        </article>
                    {% endfor %}
                </div>
                <div>
                    <h3>Press Releases</h3>
                    {% press_releases as press_release_list %}
                    {% for press_release in press_release_list %}
                        <article class="press-release">
                            <h3>
                                <a href="{{ press_release.url }}">
                                    {% if press_release.image %}<img src="{{ press_release.image.url }}" width="168" />{% endif %}
                                    <span>{{ press_release.title }}</span>
                                </a>
                            </h3>
                        </article>
                    {% endfor %}
                </div>
                <div>
                    <h3>Events</h3>
                    {% events as event_list %}
                    {% for event in event_list %}
                        <article class="event">
                            {% if event.image %}
                            <section class="event-img">
                                <a href="{{ event.url }}">
                                    <img src="{{ event.image.url }}" width="200" />
                                </a>
                            </section>
                            {% endif %}
                            <ul class="event-details">
                                <li>
                                    <h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
                                </li>
                                <li class="meta">
                                    <span>
                                        Where: {{ event.where }}
                                    </span>
                                    <span>
                                        When: {{ event.start_date }}&endash;{{ event.end_start }}
                                    </span>
                                </li>
                                <li class="event-description">
                                    {{ event.what_html|safe }}
                                </li>
                            </ul>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
