{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}


{# remove to bring back topbar #}
{% block topbar_base %}{% endblock %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}
        {{ block.super }}
        {% comment %}
        <meta name="twitter:site" content="@pinaxproject">
        {% endcomment %}
        <meta property="og:site_name" content="{{ SITE_NAME }}">
        <link rel="alternate" type="application/atom+xml" href="{% url 'blog_feed' 'all' 'atom' %}" title="Atom Feed for Blog">
    {% endblock %}
{% endblock %}


{% block footer_base %}{% endblock %}

{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
