{% extends "site_base.html" %}

{% block head_title %}Style Guide{% endblock %}

{% block body_class %}style-guide{% endblock %}

{% block topbar_base %}{% endblock %}

{% block body %}
    <h1>Style Guide</h1>
    <section>
        <h2>Components</h2>
        <article class="file-list">
            <h3>File List</h3>
            <p class="lead">A list of files with actions.</p>
            <p>Can be found in <code>documents/_member_table.html</code></p>
            {% include "documents/_member_table.html" with folder=style_guide.member_table.folder members=style_guide.member_table.members %}
        </article>
    </section>
{% endblock %}
