body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  margin-top: 20px;
  flex: 1;
  .jumbotron {
    margin-top: -20px;
  }
}
#content-body {
  @include make-container();
  @include make-container-max-widths();
}
footer {
  padding: 20px 0;
  background-color: $footer-bg-color;
  > div {
    @include make-container();
    @include make-container-max-widths();
  }
}

// Right align links inside a header
h1, h2, h3, h4 {
  display: flex;
  justify-content: space-between;
  a {
      margin-top: auto;
      @extend .btn;
      @extend .btn-sm;
  }
}
