.server-error {
    // .page-not-found {}  // 404.html
    // .internal-server-error {}  // 500.html
    margin: 100px auto;
    max-width: 600px;
    border: 1px solid $gray-300;
    background-color: $gray-100;
    border-radius: 10px;
    padding: 20px 40px;
    > p {
        font-size: $lead-font-size;
        font-weight: $lead-font-weight;
        margin-bottom: 0;
    }
}

