{% load account_tags documents_tags %}
<div class="well actions-bar">
    {% if members %}
        <div class="arrow"></div>
        <form method="POST" action="{% url 'documents_document_delete' %}">{% csrf_token %}<input type="hidden" name="next" value="{{ request.path }}" /><button type="submit" class="btn"><i class="icon-trash"></i> Delete</button></form>
    {% endif %}
    <div class="btn-group">
        <a href="{% url 'documents_folder_create' %}{% if folder %}?p={{ folder.id }}{% endif %}" class="btn"><i class="icon-plus-sign"></i> Create folder</a>
        <a href="{% url 'documents_document_create' %}{% if folder %}?f={{ folder.id }}{% endif %}" class="btn"><i class="icon-upload"></i> Upload file</a>
    </div>
    {% if folder|can_share:user %}<a href="{% url 'documents_folder_share' folder.id %}" class="btn"><i class="icon-share"></i> Share</a>{% endif %}
</div>
{% if members %}
    <table class="table">
        <thead>
            <th><input type="checkbox" class="select-all" /></th>
            <th>Type</th>
            <th>Name</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <i class="icon-{{ member.icon }}"></i>
                    </td>
                    <td>
                        <a href="{{ member.get_absolute_url }}"><strong>{{ member.name }}</strong></a><br />
                        Updated {{ member.modified|date:"N j, Y" }} by {% user_display member.modified_by %} {% if member.shared_ui %}<b>[shared]</b>{% endif %}
                    </td>
                    <td>
                        <div class="dropdown file-actions">
                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if member.icon == "file" %}
                                    <li><a href="{{ member.download_url }}"><i class="icon-download"></i> download</a></li>
                                    <li><a data-toggle="modal" href="#member-{{ member.unique_id }}"><i class="icon-cog"></i> properties</a></li>
                                    <li><a href="#"><i class="icon-trash"></i> delete</a></li>
                                {% else %}
                                    <li><a href="{{ member.get_absolute_url }}"><i class="icon-folder-open"></i> open</a></li>
                                    <li><a href="{% url 'documents_document_create' %}?f={{ member.id }}"><i class="icon-upload"></i> upload to this folder</a></li>
                                    {% if member|can_share:user %}<li><a href="{% url 'documents_folder_share' member.id %}"><i class="icon-share"></i> share</a></li>{% endif %}
                                    <li><a data-toggle="modal" href="#member-{{ member.unique_id }}"><i class="icon-cog"></i> properties</a></li>
                                    <li><form method="POST" action="{% url 'documents_document_delete' %}">{% csrf_token %}<input type="hidden" name="next" value="{{ request.path }}" /><button type="submit" class="btn"><i class="icon-trash"></i> delete</button></form></li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for member in members %}
        <div class="modal hide" id="member-{{ member.unique_id }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Properties for {{ member.name }}</h3>
            </div>
            <div class="modal-body">
                <b>Size:</b> {{ member.size|readable_bytes }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No folders or files</p>
{% endif %}
