{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Waiting List{% endblock %}

{% block body_class %}home{% endblock %}

{% block wrapper_class %}site-wrapper{% endblock %}

{% block body_base %}
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">Sign up on our waiting list!</h1>
                <p class="lead">
                    Once this site is ready to launch, you will be emailed.
                </p>
                {% if form.email.errors %}
                    <b>{{ form.email.errors.0 }}</b>
                {% endif %}
                {% url "waitinglist_list_signup" as url %}
                <form method="POST" action="{{ url }}" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="id_email">Email address</label>
                        <input type="email" name="email" class="form-control input-lg" id="id_email" placeholder="your@email.com">
                    </div>
                    <button class="btn btn-default btn-lg">Submit</button>
                </form>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>{% include "_footer.html" %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_base %}{% endblock %}
