{% extends "site_base.html" %}

{% load bootstrap %}

{% block title %}
    {% if page.pk %}
        Edit {{ page.slug }}
    {% else %}
        Add {{ page.slug }}
    {% endif %}
{% endblock %}

{% block body_class %}wiki-edit{% endblock %}

{% block body %}
    <h1>
        {% if page.pk %}
            Edit {{ page.slug }}
        {% else %}
            Add {{ page.slug }}
        {% endif %}
    </h1>

    <form class="form dropzone" method="POST" action="">
        {% csrf_token %}
        <p>
            To include an image on a card, drag it to this form or <a href="#" class="file-browse">browse for a file</a>.
        </p>
        <input type="file" class="hide fileupload" name="files" data-url="{% url 'wiki_file_upload' %}" multiple>
        <div class="progress progress-striped hide">
            <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
        </div>
        {{ form|bootstrap }}
        <div class="pull-right">
            <a href="{{ page.get_absolute_url }}" class="btn btn-default">Cancel</a>
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}
